.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: #ea580c;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  color: #57534e;
  transition: color 0.4s ease-out;
}
.nav__link:hover {
  color: #ea580c;
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
  .nav__logo {
    font-size: 1.2rem;
  }
  .nav__list {
    gap: 1rem;
  }
}
